@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: EBGaramond;
    src: url('../assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf');
    font-weight: 1 999;
}


@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-Regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Lato;
    src: url('../assets/fonts/Lato/Lato-Bold.ttf');
    font-weight: 700;
}

:root {
    --alice-blue: #ECF6FF;
    --east-bay: #405789;
    --ebony: #13152E;
    --bombay: #8995AA;
    --anakiwa: #8AE8FF;
}

body {
    font-family: Lato;
    overflow-x: hidden;
}

section {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.block_content {
    max-width: 1440px;
    width: 100%;
}

h1{
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "EBGaramond";
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
}

h2{
    color: #405789;
    font-family: "EBGaramond";
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    position: relative;
    text-align: center;
}

h3{
    color: #405789;
    text-align: center;
    font-family: "EB Garamond";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4{
    color: #405789;
    font-family: "EB Garamond";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5{
    color: #405789;
    font-family: "EB Garamond";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

#blog-content{
    h4{
        color: #405789;
        font-family: "EB Garamond";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p {
        color: #8995AA;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }
    img{
        border-radius: 24px;
        width: 100%;
        object-fit: cover;
    }
    ul{
        color: #8995AA;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        list-style: disc;
        padding-left: 20px;
        margin-left: 20px;
    }

    a{
        text-decoration: underline;
    }

} 


/* Menu */
#menu-header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 25px
}

.menu-header-menu-container {
    height: 100%;
}

#menu-header-menu a {
    color: var(--east-bay);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 111.111% */
    text-transform: capitalize;
}

#menu-header-menu>.menu-item-has-children::after{
    content: url(../assets/images/chevron.svg);
    right: 0;
    position: absolute;
    top: 18px;
    transition: all .3s ease;
}

#menu-header-menu-1>.menu-item-has-children::after {
    content: url(../assets/images/chevron.svg);
    right: 0;
    position: absolute;
    top: -2px;
    right: 5px;
    transition: all .3s ease;
}

#menu-header-menu>.menu-item-has-children:hover::after {
    transform: scaleY(-1) translateY(-5px);
    transition: all .5s ease;
}

#menu-header-menu-1>.menu-item-has-children:hover::after{
    transform: scaleY(-1) translateY(-8px);
        transition: all .5s ease;
}

#menu-header-menu-1{
    li{
        width: fit-content;
    };

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-header-menu>.menu-item-has-children>.sub-menu {
    background: white;
    border-radius: 5px;
    box-shadow: -4px 3px 12.4px 0px rgba(0, 0, 0, 0.15);
    left: 0;
    width: max-content;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 70%;
    transform: translateY(8px);
    visibility: hidden;
    z-index: 2;
    transition: all .3s ease;
}

#menu-header-menu>.menu-item-has-children {
    position: relative;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    z-index: 999;
    cursor: pointer;
}

#menu-header-menu>.menu-item-has-children:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;
}

.btn-dark{
    border: 1px solid var(--ebony);
    border-radius: 80px;
    background: var(--ebony);
    padding: 24px 38px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all .3s ease;

    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: capitalize;

    &:hover{
        background: white;
        color: var(--ebony);
        transition: all .3s ease;
    }

    a {
        position: relative;
        z-index: 99;
    }
}

.btn-light{
    display: flex;
    padding: 24px 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 80px;
    border: 1px solid #405789;

    color: #405789;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: capitalize;

    &:hover {
        background:var(--ebony) ;
        color: white;
        transition: all .3s ease;
    }

    a{
        position: relative;
        z-index: 99;
    }
}

.btn-blue{
    display: flex;
    padding: 24px 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 80px;
    border: 1px solid #405789;
    background: #405789;
    color: #FFF;
    transition: all .3s ease;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;

    &:hover {
        background: white;
        color: var(--ebony);
        transition: all .3s ease;
    }

    a {
        position: relative;
        z-index: 99;
    }
}

.btn-white{
    display: flex;
    padding: 24px 38px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 80px;
    border: 1px solid #fff;
    color: #FFF;
    transition: all .3s ease;

    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;

    &:hover {
        background: white;
        color: var(--ebony);
        transition: all .3s ease;
    }

    a {
        position: relative;
        z-index: 99;
    }
}

.parent-grid #menu-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-row-gap: 18px;
    grid-column-gap: 38px;
    grid-auto-flow: column;
}

#menu-footer-utility-pages{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

#menu-footer-utility-pages a,
.parent-grid #menu-footer a{
    font-size: 18px;
    color: var(--bombay);
}

.gform_wrapper {
    width: 100%;
}

#gform_1{
    position: relative;
    .ginput_container{
        input{
            padding: 24px 297px 24px 24px;
            border-radius: 80px;
            font-size: 18px;
        }
    }
    .gform_footer{
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
        margin-top: 0px;

        input{
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 18px;
            text-transform: capitalize;
            border-radius: 80px;
            background: #405789;
            display: flex;
            padding: 16px 24px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            margin-bottom: 0px;
            cursor: pointer;
            border: 1px solid var(--east-bay);
            transition: all .3s ease;

            &:hover{
                background: white;
                color: var(--east-bay);
                transition: all .3s ease;
            }
        }
    }
}


/* the slides */
.slick-slide {
    margin: 0 20px !important;
}

/* the parent */
.slick-list {
    margin: 0 -20px !important;
}

#multiple-items,
#multiple-items-services,
#multiple-testimonials,
#multiple-rehab{

    .slick-prev{
        width: 64px;
        background-image: url('../assets/images/prev.svg');
        height: 64px;
        top: auto;
        bottom: -150px;
        left: auto;
        transition: all .3s ease;

        &::before{
            content: "";
        }
    }

    .slick-prev:hover {
        background-image: url('../assets/images/prev-dark.svg');
        transition: all .3s ease;
    }
    
    .slick-next:hover {
        background-image: url('../assets/images/next-dark.svg');
        transition: all .3s ease;
    }

    .slick-next {
        background-image: url('../assets/images/next.svg');
        width: 64px;
        height: 64px;
        top: auto;
        bottom: -150px;
        right: 75px;
        transition: all .3s ease;

        &::before {
            content: "";
        }
    }
}

/* hamburguer menu */

#nav-icon4 {
    width: 25px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 25px;
    background: var(--ebony);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 100%;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
}

.menu-mobile-container.active {
    right: 0;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.menu-mobile-container {
    right: -100%;
    top: 90px;
    opacity: 0;
    width: 100%;
    padding-bottom: 200px;
    position: absolute;
    z-index: 999;
    background-color: white;
    display: block;
    transition: all 0.8s ease-in;
}

.menu-mobile-container #menu-header-menu-1 {
    color: var(--east-bay);
    font-size: 22px;
    font-weight: 500;
}

.menu-mobile-container #menu-header-menu-1 li {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.menu-mobile-container #menu-header-menu-1 .menu-item-has-children>.sub-menu {
    padding-left: 50px;
}

.menu-mobile-container #menu-header-menu-1 .sub-menu {
    li {
        margin-bottom: 0px;
    }

    opacity: 0;
    visibility: hidden;
    position: relative;
    height: 0;
    transition: all 0.3s ease-in;
}

.menu-mobile-container #menu-header-menu-1 .sub-menu.show {
    margin-top: 10px;
    opacity: 1;
    height: auto;
    visibility: visible;
    transition: all 0.3s ease-in;
}

#menu-mobile .menu-header-menu-container {
    display: flex !important;
}


.slider-faq {

    &.inactive .item-content {
        height: 0px;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &.active .item-content {
        height: auto !important;
        opacity: 1 !important;
        transition: all 0.3s ease;
    }

    &.active h4 {
        position: relative;
    }

    &.active::after {
        content: url('../assets/images/Less.svg') !important;
        position: absolute;
        right: -15px;
        top: 10px;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    &.inactive::after {
        content: url('../assets/images/Add.svg');
        position: absolute;
        right: -15px;
        top: 0;
        width: 28px;
        height: 28px;
        cursor: pointer;

    }
}

.page-numbers {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--bombay);

    &.current {
        color: var(--ebony);
        font-weight: 700;
    }
}

#job-form {
    .gform_wrapper.gravity-theme .gform_fields {
        grid-column-gap: 4% !important;
        grid-row-gap: 30px;
    }

    .gform_footer input[type="submit"] {
        display: flex;
        padding: 20px 38px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border-radius: 80px;
        background: #13152E;

        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        text-transform: capitalize;
    }

    .gform-body {

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            padding: 24px 38px;
            border-radius: 80px;
            margin-top: 16px;
        }

        textarea {
            border-radius: 24px;
            padding: 24px;
        }

        .gfield_label {
            color: #13152E;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Lato;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }

    }
}

.hover-arrow:hover .arrow {
    margin-left: 15px;
    margin-right: 0px;
    transition: all 0.3s ease-out;
}

.hover-arrow .arrow {
    transition: all 0.3s ease-out;
}

#hero-image .bg-custom{
    background-repeat: no-repeat;
    background-position: 70% 45%;
    background-image: url('../assets/images/ribbon_gray.svg');
}

#list-resources{
    ol,ul {
        list-style: auto;
        color: #8995AA;

        li{
            margin-bottom: 5px;
            text-decoration: underline;
            font-size: 18px;
        }
    }
} 

@media screen and (max-width: 1250px) {
    #hero-image-left{
        .img-bg{
            width: 400px;
        }

        .left-image {
                width: 500px !important;
        }
        .read-art{
            display: none;
        }
        .lg\:pr-\[74px\]{
            padding-right: 30px;
        }
    }
}

#single-resource-paragraph p{
    color: #8995AA;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

@media screen and (max-width: 1023px){
    h1{
        font-size: 36px;
        line-height: 40px;
    }

    h2{
        font-size: 36px;
        line-height: 40px;
    }

    h3{
        font-size: 24px !important;
        line-height: normal;
    }

    h5{
    font-size: 18px !important;
    line-height: 25.085px !important;

    }

    .btn-blue {
        padding: 15px 25px;
        font-size: 14px;
    }

    .btn-light{
        padding: 15px 25px;
        font-size: 14px;
    }
    
    .btn-dark{
        padding: 15px 25px;
        font-size: 14px;
    }
    .btn-white{
        padding: 15px 25px;
        font-size: 14px;
    }

    #multiple-items,
    #multiple-items-services,
    #multiple-testimonials,
    #multiple-rehab{
        .slick-next {
            background-size: cover;
            background-repeat: no-repeat;
            width: 45px;
            height: 45px;
            top: auto;
            bottom: -120px;
            right: 0px;
        }

        .slick-prev {
            background-size: cover;
            background-repeat: no-repeat;
            width: 45px;
            height: 45px;
            top: auto;
            bottom: -120px;
            left: 0px;
        }
    } 

    .parent-grid #menu-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-row-gap: 18px;
        grid-column-gap: 38px;
        grid-auto-flow: column;
    }

    .menu-header-menu-container{
        display: none;
    }

    .bg-custom{
        background-image: url('../assets/images/blog-archive.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #hero-image-left .bg-custom{
        background-image: none;
    }

    #blog-content p{
        font-size: 16px !important;
    }

    #hero-image .bg-custom {
        background-image: none;
    }

    .slider-faq {
        &.active::after {
            right: -20px;
        }

        &.inactive::after {
            right: -20px;
        }
    }

    #titles h3 {
        font-size: 36px !important;
    }

    #list-resources{
        ol,ul{
            margin-left: 20px;
            li {
                font-size: 16px;
                margin-bottom: 15px;
            }
        } 
    }
}


@media screen and (max-width: 768px) {

    #gform_1 .gform_footer input {
        font-size: 12px;
        padding: 8px 15px;
    }

    #gform_1 .ginput_container input {
        padding: 12px 100px 12px 15px;
        border-radius: 80px;
        font-size: 12px;
    }

    #job-form .gform_footer input[type="submit"]{
        width: 100%;
    }

    #hero-image-left {
        .left-image {
            width: 100% !important;
        }
    }
}

